[Unit]
Description=ITO
After=network.target

[Service]
User=ito
Group=ito
WorkingDirectory=/home/ito/live
Environment="PATH=/home/ito/live/.venv/bin"
ExecStart=/home/ito/live/.venv/bin/uvicorn main:app

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target